<h1>Add to the Database</h1>

<form method="POST" action="/search">
	<label for="city-input">City</label>
	<input id="city-input" type="text" name="city">
	<br>
	<label for="state-input">State</label>
	<input id="state-input" type="text" name="state">
	<br>
	<label for="lat-input">Latitude</label>
	<input id="lat-input" type="text" name="lat">
	<br>
	<label for="long-input">Longitude</label>
	<input id="long-input" type="text" name="long">
	<br>
	<input type="submit">
</form>